@charset "utf-8";
@import "normalize";
@import "variables";
@import "bourbon/bourbon";
@import "neat/neat";
@import "layout/index";

body{
  text-align: center;
  background:#000;
  color: $gris;

}

.logo{
  text-align: center;
  img{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }
}
