@charset "utf-8";
@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "layout/index";

body{
  text-align: center;
  background:#000;
  color: #fff;
}

.logo{
  text-align: center;
  img{
    max-width: 450px;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }
}
