<div class="redes">
  <ul>
    <% data.redes.each do |red| %>
      <li>
        <a href="<%= red.url %>" class="<%= red.network %>" target="_blank">
          <i class="fa fa-<%= red.network %>"></i>
        </a>
      </li>
    <% end %>
  </ul>
</div>
