.wrapper{
  @include outer-container;
}
.logo{
  @include span-columns(8);
  @include shift(2);
  @include omega();
  margin-bottom: 20px;
  img{
    max-width: 100%;
  }
}
.cover{
  @include span-columns(5);
  @include omega();
  img{
    max-width: 100%;
    padding: 30px;
  }
}
.players{
  @include span-columns(7);
  @include omega();
  iframe{
    max-width: 790px;
  }
}
.conciertos{
  @include span-columns(8);
  @include shift(2);
}
.concert-row{
  //@include span-columns(8);
  //@include shift(2);
}
.fecha{
  @include span-columns(4 of 12);
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
}
.descripcion{
  @include span-columns(8 of 12);
  @include omega();
  text-align: left;
   a{
     color: #fff;
     font-weight: bold;
     margin-top: 10px;
     display: inline-block;
   }
}
.redes{
  @include span-columns(8);
  @include shift(2);
  padding: 40px 0;

  ul{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  li{
    display: inline-block;
    padding: 0;
  }

  a{
    color: #fff;
    font-size: 3em;
    padding: 20px;
    text-decoration: none;
    &:hover{
      color: #DF0205;
    }
  }
  @media screen and (max-width: 768px){
        a{
          font-size: 2em;
          padding: 10px;
        }
    }
}
.copyrights{
  @include span-columns(12);
  margin-top: 50px;
  p{
    font-size: 11px;
    text-align: center;
    color: $gris;
  }
}
.cover, .players, .redes, .logo, .conciertos{
  @media screen and (max-width: 768px){
        @include span-columns(10);
        @include shift(1);

        img{
          padding: 0;
        }
    }
}
