.wrapper{
  @include outer-container;
  padding-bottom: 100px;
}
.logo{
  @include span-columns(8);
  @include shift(2);
  @include omega();
  img{
    max-width: 100%;
  }
}
.cover{
  @include span-columns(8);
  @include shift(2);
  @include omega();
  img{
    max-width: 100%;
  }
}
.players{
  @include span-columns(8);
  @include shift(2);
  @include omega();

  iframe{
    max-width: 790px;
  }
}
.conciertos{
  @include span-columns(8);
  @include shift(2);
}
.concert-row{
  //@include span-columns(8);
  //@include shift(2);
}
.fecha{
  @include span-columns(4 of 12);
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
}
.descripcion{
  @include span-columns(8 of 12);
  @include omega();
  text-align: left;
   a{
     color: #fff;
     font-weight: bold;
     margin-top: 10px;
     display: inline-block;
   }
}
.redes{
  @include span-columns(8);
  @include shift(2);
  padding: 40px 0;

  ul{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  li{
    display: inline-block;
    padding: 0;
  }

  a{
    color: #fff;
    font-size: 3em;
    padding: 20px;
    text-decoration: none;
    &:hover{
      color: #DF0205;
    }
  }
}
