.wrapper{
  @include outer-container;
}
.logo{
  @include span-columns(8);
  @include shift(2);
  @include omega();
}
.cover{
  @include span-columns(8);
  @include shift(2);
  @include omega();
  img{
    max-width: 100%;
  }
}
.players{
  @include span-columns(8);
  @include shift(2);
  @include omega();
}
