---
title: Dekonstructor
---
<div class="wrapper">
  <div class="logo">
    <img src="http://placehold.it/350x150?text=Logo" alt="Dekonstructor"/>
  </div>
  <div class="cover">
    <img src="/images/life-sucking-machines-cover.jpeg" />
  </div>
  <div class="players">
    <p>Players</p>
  </div>
</div>
