---
title: Dekonstructor
---
<div class="wrapper">
  <div class="logo">
    <img src="/images/logo.jpeg" alt="Dekonstructor"/>
  </div>
  <!-- <div class="cover">
    <img src="/images/life-sucking-machines-cover.jpeg" />
  </div> -->
  <div class="players">
  <%= partial "partials/soundcloud" %>
  <%= partial "partials/conciertos" %>
  </div>
</div>
