---
title: Dekonstructor
---
<div class="wrapper">
  <div class="logo">
    <img src="/images/logo.jpeg" alt="Dekonstructor"/>
  </div>
  <div class="cover">
    <img src="/images/life-sucking-machines-cover.jpeg" alt="Life sucking machines cover" />
  </div>
  <div class="players">
    <h2>Presenta su nuevo demo "Life Sucking Machines"</h2>
    <%= partial "partials/player" %>
  </div>
  <%= partial "partials/redes" %>
  <%= partial "partials/conciertos" %>
  <%= partial "partials/copyrights" %>
</div>
